.apresentation{
    display: flex;
    flex-direction: row;
    border: solid 2px red;
}



.iconsContact{
    display: flex;
    flex-direction: row;
}

.profile-pic {
    width: 150px; /* Ajuste o tamanho da imagem conforme necessário */
    height: 150px;
    clip-path: ellipse(50% 50% at 50% 50%);


    background-color: #f0f0f0; /* Cor de fundo para a forma de hexágono */
    display: inline-block;
    overflow: hidden;
    border-radius: 10px; /* Para suavizar os cantos externos */
  }
  
  .profile-pic img {
    width: 100%;
    height: auto;
    display: block;
  }
  