*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}


:root{

    --primaryColorBackground:#21232c;
    --secondaryColorBackground: #2b2e3b;
    font-size: 62.5%;
    /* background: linear-gradient(to top right, #723fb1, #8353a0); */ 
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 1.6rem;
    /* background-color: var(--primaryColorBackground);
    color: white; */
}

input, button {
  border: none;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}