*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}


:root{
  
    --primaryColorBackground:#21232c;
    --secondaryColorBackground: #2b2e3b;
    --primaryTextColor: white;
    --secondaryTextColor: #00EDFC;
    font-size: 62.5%;
    /* background: linear-gradient(to top right, #723fb1, #8353a0); */ 
}

body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 1.6rem;
  background-color: var(--primaryColorBackground);
  color: var(--primaryTextColor); 
}

input, button {
  border: none;
}

a {
  text-decoration: none;
  color: var(--primaryTextColor);
}

ul {
  list-style: none;
}