@import './global.css';

body{
    margin: auto;
    width: 80%;
    background-color: var(--primaryColorBackground);
    color: white;
}
.main {
    /* margin: auto; */
}


  .row{
    display: flex;
    justify-content: space-between;
  }
  .card-container {
    display: flex;
    align-items: center;
    height: 100vh;
  }
  .card {    
    border: 2px solid rgba(0, 0, 0, 0.1); /* Borda fina */
    border-radius: 8px;
    padding: 3%;
    /* width: 33%; */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para efeito de elevação */
  }
  /* Estilo para o cartão pequeno */
.small-card {
    width: 25%;
    margin-left: 1%;
}


/* Estilo para o cartão grande */
.large-card {
    width: 50%;
}

  
  