@import './global.css';


.main {
  display: flex;
  flex-direction: column;
  width: 80%;

}

.row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
    margin: 1%;
}
  .cardContent {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .card {    
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
    padding: 3%;
    /* width: 33%; */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para efeito de elevação */
  }
  .skill{
    
  }
  /* Estilo para o cartão pequeno */
.small-card {
    width: 25%;
    margin-left: 1%;
}


/* Estilo para o cartão grande */
.large-card {
    width: 50%;
}

/* --------------------------------   */

/* Estilos para dispositivos móveis */
@media (max-width: 768px) {
  .main {
    width: 90%; /* Reduza a largura do conteúdo principal */
  }

  .row {
    flex-direction: column; /* Altere a direção da flexão para empilhar as seções */
  }

  .card {
    width: 100%; /* Ocupa toda a largura disponível em dispositivos móveis */
    margin: 2% 0; /* Adicione margens entre os cartões */
  }

  .small-card {
    width: 100%; /* Ocupa toda a largura disponível em dispositivos móveis */
    margin: 2% 0; /* Adicione margens entre os cartões */
  }
}
